html {
  font-size: 14px;
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

.test {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.test .wrap {
  position: relative;
  background-color: #ff4d4f;
  width: 50px;
  height: 50px;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 0 16px rgb(104, 102, 102);
  cursor: pointer;
}

.test .wrap::before {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  content: '';
  border-left: 10px solid rgba(1,1,1,0);
  border-top: 10px solid #ff4d4f;
}

.container {
  padding-top: 100px;
}

/* 头部导航 */
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 2;
  padding: 0 18px;
}

/* 内容区域 */
.content {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 1000px;
}

.content .left-persion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .left-persion .avatar {
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-image: url(../img/avatar.jpeg);
  background-size: cover;
  background-position: center;
}


.content .right-content {
  width: 90%;
  margin-left: 50px;
}

/* 博客底部 */
.footer {
  height: 500px;
  background-color: #ccc;
}

/* 消息盒子 */
.message-box {
  margin: 20px 10px;
  border-bottom: 1px solid #dce3e8;
}

.message-box > .message-title {
  font-weight: 600;
  color: rgba(0,0,0,0.8);
}

.message-box > p, span {
  /* text-indent: 40px; */
  color: #6a6a6a;
}